.popup__line {
  width: 100%;
  opacity: 0.2;
  max-width: 385px;
  padding: 0;
  margin: 9px auto 30px auto;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .popup__line {
    max-width: 238px;
    margin: 9px auto 30px 5%;
  }
}
