.profile__header {
  max-width: 415px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__header {
    justify-content: space-evenly;
  }
}
