.profile__header {
  display: flex;
  align-items: baseline;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__header {
    justify-content: space-evenly;
    max-width: 224px;
  }
}
