.popup__save {
  max-width: 238px;
  height: 46px;
  cursor: pointer;
  padding: 0;
  margin: 0 22px 30px 22px;
  border: none;
  border-radius: 2px;
  background: none;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  font-size: 14px;
}
