.profile__title {
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__title {
    font-size: 14px;
    max-width: 196px;
    margin: 0 auto;
  }
}
