.profile__add-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 46px auto 30px auto;
  border: none;
  background: none;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__add-button {
    width: 282px;
  }
}
