.logo {
  max-width: 173px;
  color: #fff;
  padding: 0;
  margin: 0 0 41px 0;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .logo {
    max-width: 128px;
    margin: 0 auto 32px 5%;
  }
}
