.form__input {
  padding-bottom: 9px;
  border-style: none;
  max-width: 358px;
  color: #000;
  border-color: #000;
  font-size: 14px;
  line-height: 1.12;
  margin: 0 0 0 36px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.2);
  width: 100%;
  margin: 0 auto 30px auto;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .form__input {
    max-width: 238px;
    margin: 0 22px 30px 22px;
  }
}
