.popup__close-button {
  width: 56px;
  height: 56px;
  background-image: url("../../../images/popup_close-icon.png");
  background-position: center;
  left: 66.15%;
  right: 30.73%;
  top: 175px;
  position: absolute;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .popup__close-button {
    width: 36px;
    height: 36px;
    left: 82.69%;
    right: 9.18%;
  }
}
