.popup__close-button {
  width: 56px;
  height: 56px;
  background-image: url("../../../images/popup_close-icon.png");
  background-position: center;
  top: -50px;
  right: -50px;
  position: absolute;
  margin-bottom: 18px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .popup__close-button {
    width: 36px;
    height: 36px;
    right: 0;
    top: -65px;
  }
}
