.profile__info {
  max-width: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 780px) {
  .profile__info {
    margin-bottom: 36px;
    max-width: 282px;
  }
}
