.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__info {
    margin-bottom: 36px;
    max-width: 282px;
    align-items: center;
  }
}
