.popup__submit-btn {
  height: 46px;
  margin: 30px 36px;
  transition: opacity 0.1s ease-in-out;
  color: #fff;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .popup__submit-btn {
    max-width: 238px;
    margin: 46px 22px 30px 22px;
  }
}
