.card__title {
  background-color: #fff;
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 246px;
}
